PUBLIC_HOST=erd.example.com
LETSENCRYPT_EMAIL=ops@example.com
PUBLIC_HTTP_PORT=2010
PUBLIC_HTTPS_PORT=2043
PUBLIC_HTTPS_PORT_IN_REDIRECT=2043
APP_NAMESPACE=erd-tool
APP_TLS_SECRET=erd-tool-prod-tls
OPS_BASIC_AUTH_SECRET=erd-tool-ops-basic-auth
ARGOCD_BASIC_AUTH_SECRET=argocd-ops-basic-auth
